 body {
   background-color:  #ffffff;
    color: #f0f0f0;
    font-family: 'Georgia', serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
  }

  .book-detail {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px;
    max-width: 1100px;
    margin: auto;
  }

  .book-info-row {
    display: flex;
    align-items: flex-start;
    gap: 30px;
    flex-wrap: wrap;
  }

  .book-left img {
    width: 300px;
    height: auto;
    border-radius: 12px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.6);
  }

  .book-meta {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
    flex: 1;
  }

  .book-title {
    font-size: 26px;
    font-weight: bold;
    color: #04153a;
  }

  .book-author {
    font-size: 18px;
    color: #000000;
  }

  .read-icon {
    background: #a0522d;
    color: white;
    padding: 8px 14px;
    border-radius: 6px;
    text-decoration: none;
    display: inline-block;
    width: fit-content;
    font-size: 16px;
    transition: 0.3s;
  }

  .read-icon:hover {
    background: #c1693c;
  }

  p {
    font-size: 16px;
    color: #0a0a0a;
  }

  .book-right h2 {
    color: #ffd700;
  }

  a {
    color: #add8e6;
    text-decoration: underline;
  }

  a {
  color: #add8e6;
  text-decoration: none; 
  transition: 0.3s;
}

a:hover {
  color: #87cefa;
  text-decoration: none; 
}

.content-book {
  margin-top: 60px; 
}
