    * {
        box-sizing: border-box;
    }

    body {
        margin: 0;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        background: url(../images/bglogin.png) center center / cover no-repeat fixed;
    }


    .background::after {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
        backdrop-filter: blur(6px);
        z-index: 0;
    }

    .login-container {
        position: relative;
        background: rgba(255, 255, 255, 0.15);
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
        border: 2px solid rgba(255, 255, 255, 0.3);
        border-radius: 16px;
        padding: 30px 25px;
        width: 300px;
        margin: 100px auto;
        box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
        color: #fff;
        z-index: 1;
    }

    h1 {
        text-align: center;
        color: #ffffff;
        margin-bottom: 20px;
        font-weight: 600;
    }

    label {
        display: block;
        margin-top: 10px;
        font-size: 14px;
        color: #ffffff;
    }

    input[type="text"],
    input[type="password"] {
        width: 100%;
        padding: 10px;
        margin-top: 5px;
        border: none;
        border-radius: 8px;
        background-color: rgba(255, 255, 255, 0.85);
        font-size: 14px;
        color: #000;
    }

    input[type="text"]:focus,
    input[type="password"]:focus {
        outline: none;
        background-color: #fff;
    }

    .buttons {
        margin-top: 20px;
        text-align: center;
    }

    .buttons input {
        padding: 10px 20px;
        margin: 0 5px;
        border: none;
        border-radius: 8px;
        font-size: 14px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .buttons input[type="submit"] {
        background-color: #419b44;
        color: white;
    }

    .buttons input[type="submit"]:hover {
        background-color: #3b863f;
    }

    .buttons input[type="reset"] {
        background-color: #419b44;

        color: white;
    }

    .buttons input[type="reset"]:hover {
        background-color: #419b44;

    }

    .buttons a {
        padding: 10px 20px;
        margin: 0 5px;
        border: none;
        border-radius: 8px;
        font-size: 14px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .buttons a {
        background-color: #419b44;
        color: white;
    }

    .buttons a:hover {
        background-color: #3b863f;
        color: white;
    }